@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap";
@font-face {
    font-family: Helvetica;
    src: url(/assets/Helvetica-5f865ddf.ttf);
    font-weight: 400;
    font-style: normal;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 18px;
}
.container_f{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#amoforms_iframe_1344410{
    z-index: 1 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 21px;
}
.title-box__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1d1d1f;
}
.title-box__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1d1d1f;
}
.title-box__p span {
    font-weight: 600;
}
.box-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.box-items .box-item {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 32px 0 0 32px;
    background: linear-gradient(135deg, #ebebeb 0%, #f5f5f7 100%);
    position: relative;
}
.box-items .box-item__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1d1d1f;
}
.box-items .box-item__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #3c3c3c;
    max-width: 350px;
    margin-top: 17px;
}
.box-items .box-item__img {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
}
.header__container {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.header__container .logotip {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.menu__item {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #1d1d1f;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.contact__elem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 12px;
    background-color: #1d1d1f;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.contact__phNum {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 12px;
    padding: 14px 20px;
    width: 207px;
    height: 47px;
    background: #3858d6;
}
.ad__advices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin: 86px 0;
}
.ad__advices .ad__cup {
    max-width: 350px;
    width: 100%;
    color: #3c3c3c;
}
.ad__a {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #3c3c3c;
    text-decoration: none;
}
.ad__advice-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1d1d1f;
}
.ad__wrapper {
    display: grid;
    grid-template-columns: 64% 36%;
    justify-content: space-between;
    align-items: end;
    background: linear-gradient(135deg, #8fa6ff 0%, #3858d6 100%);
    border-radius: 20px;
    padding: 0 0 0 64px;
}
.ad__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 110px 0;
}
.ad__left-img {
    display: none;
}
.ad__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 57px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #f5f5f7;
}
.ad__cup {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #efefef;
    margin-top: 21px;
}
.ad__p {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #efefef;
    margin-top: 36px;
}
.ad__btns {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.elements_wr {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    gap: 48px 58px !important;
}
.elements_wr .pl__title {
    font-size: 23px;
}
.ad__right {
    height: 100%;
    width: 100%;
    position: relative;
}
.first-ad .ad__img {
    left: -25%;
}
.ad__img {
    border-radius: 20px;
    left: -40px;
    bottom: 0;
    width: 125%;
    position: absolute;
    mix-blend-mode: luminosity;
}
.ad-ship .ad__img {
    border-radius: 20px;
    left: -40px;
    bottom: 0;
    width: 125%;
    position: absolute;
    mix-blend-mode: normal;
}
.dr-step .ad__img {
    border-radius: 20px;
    left: 70%;
    transform: translateX(-50%);
    bottom: 0;
    width: 125%;
    position: absolute;
    mix-blend-mode: normal;
}
.ad__img-sec {
    border-radius: 20px;
    right: 0;
    bottom: 300px;
    width: 36%;
    position: absolute;
}
.price-list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px auto 92px;
}
.price-list__items {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 48px 26px;
}
.pl__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 264px;
    height: 450px;
}
.pl__item img {
    max-width: 158px;
    max-height: 228px;
}
.pl__item:nth-child(6) img {
    max-width: 215px;
}
.pl__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1d1d1f;
    margin-top: 32px;
    text-align: center;
}
.pl__item:nth-child(1) .pl__title span {
    color: #3858d6;
}
.pl__item:nth-child(2) .pl__title span {
    color: #3858d6;
}
.pl__item:nth-child(3) .pl__title span {
    color: #3858d6;
}
.pl__item:nth-child(4) .pl__title span {
    color: #3858d6;
}
.pl__item:nth-child(5) .pl__title span {
    color: #3858d6;
}
.itemS .pl__title span {
    color: #3858d6;
}
.pl__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #8b8e99;
    margin: 8px 0 16px;
}
.brands__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 32px auto 0;
}
.about-us__wrapper {
    margin-top: 85px;
}
.about-us__inform {
    margin: 85px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
}
.about-us__quality {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.about-us__gallary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 85px;
}
.inform__elem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.inform__title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #3858d6;
}
.inform__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3c3c3c;
}
.quality__item {
    border-radius: 20px;
    flex-direction: column;
    padding: 42px 30px 10px 42px;
}
.quality__item:nth-child(1) {
    background: linear-gradient(135deg, #5792ff 0%, #9cbfff 100%);
}
.quality__item:nth-child(2) {
    background: linear-gradient(315deg, #fc7e9a 0%, #f5535d 100%);
}
.quality__item:nth-child(3) {
    background: linear-gradient(134deg, #9be700 0%, #c8ec8c 100%);
}
.quality__item:nth-child(4) {
    background: linear-gradient(135deg, #ff9128 0%, #ffcc9c 100%);
}
.quality__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1d1d1f;
}
.quality__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #3c3c3c;
    margin: 16px 0 24px;
}
.quality__img-box {
    display: flex;
    align-items: center;
    justify-content: end;
}
.gallary__item {
    border-radius: 20px;
    width: 100%;
}
.services {
    margin-top: 85px;
}
.services .box-item {
    height: 360px;
}
.services .box-items,
.payment {
    margin-top: 85px;
}
.payment .box-item {
    height: 259px;
}
.payment .box-items {
    margin-top: 85px;
    grid-template-columns: repeat(4, 1fr);
}
.delevery {
    margin-top: 85px;
}
.delevery__container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.delevery__box {
    position: relative;
    z-index: 1;
}
.delevery__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fff;
}
.delevery__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #d2d2d2;
    max-width: 400px;
    margin-top: 10px;
}
.delevery__gallary {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.fullfillment {
    background-image: url(https://i.yapx.cc/XZ8ja.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    display: flex;
    align-items: end;
    padding: 0 0 42px 32px;
    border-radius: 20px;
    position: relative;
}
.transportCo {
    background-image: url(https://i.yapx.ru/XZ8jc.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    display: flex;
    align-items: end;
    padding: 0 0 42px 32px;
    border-radius: 20px;
    position: relative;
}

.effect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    mix-blend-mode: darken;
    bottom: 0;
    left: 0;
    border-radius: 20px;
}
.form__container {
    background: linear-gradient(135deg, #7caaff 0%, #1f66ea 100%);
    border-radius: 20px;
    margin-top: 85px;
}
.form__box {
    padding: 70px 0 70px 62px;
}
.form__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 21px;
}
.form__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #efefef;
    margin-bottom: 21px;
}
.ad__icons {
    position: relative;
    z-index: 2;
}
.contacts {
    position: relative;
    z-index: 1;
}
.form__input {
    border-radius: 8px;
    padding: 0 16px;
    max-width: 664px;
    height: 56px;
    width: 100%;
    border: 0;
    outline: 0;
    margin-bottom: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.01em;
}
.form__img {
    position: relative;
}
.form__img img {
    position: absolute;
    right: -20px;
    bottom: 0;
    border-radius: 20px;
}
.form label {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #efefef;
}
.submit-box {
    display: flex;
}
.submit-box button {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #1d1d1f;
    margin-left: 52px;
    padding: 16px 32px;
}
.chech-box label {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #efefef;
}
.btn,
.btn-sec {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    text-align: center;
    color: #fff;
}
.btn {
    border-radius: 12px;
    padding: 21px 24px;
    background: #3858d6;
    border: 0;
}
.first-ad {
    position: relative;
    z-index: 1;
}
.btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 18px 24px;
    border: 0;
    background: #1d1d1f;
}
.btn-white {
    border-radius: 12px;
    padding: 21px 24px;
    background: #fff;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    text-align: center;
}
.steps__wrapper {
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: start;
    justify-content: space-between;
    position: relative;
}
.steps__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1d1d1f;
    margin: 96px 0 85px;
}
.steps__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.steps__item-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 106%;
    text-align: center;
    color: #1d1d1f;
    margin-top: 12px;
}
.steps__item-p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3c3c3c;
    margin-top: 16px;
}
.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #3858d6;
    border: 0;
    transition: all 0.2s ease;
    transition-delay: 0s;
}
.steps .circle img {
    margin-top: 1px;
}
.dr-step progress-bar {
    position: absolute;
    height: 2px;
    width: 77%;
    left: 50%;
    right: auto;
    transform: translate(-50%);
    top: 7px;
    background: #3858d6;
    z-index: -1;
}
.steps .progress-bar {
    position: absolute;
    height: 2px;
    width: 77%;
    left: 50%;
    right: auto;
    transform: translate(-50%);
    top: 7px;
    background: #3858d6;
    z-index: -1;
}
.search__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dr-step .progress-bar {
    width: 73%;
}
.search__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1d1d1f;
}
.search__title span {
    color: #3858d6;
}
.search__sup {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #8b8e99;
    margin-top: 8px;
}
.search__p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1d1d1f;
    margin-top: 21px;
}
.search__input {
    position: relative;
    margin-top: 32px;
    max-width: 296px;
    width: 100%;
}
.search__input input {
    border: 1px solid #ced2d6;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    outline: 0;
    padding: 0 0 0 14px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #ced2d6;
}
.search__input img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.search__choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 100%;
    margin: 48px auto 0;
}
.choose__item {
    border: 1px solid #000;
    border-radius: 100px;
    padding: 10px 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    transition: all 0.3s ease;
}
.choose__item:hover {
    color: #fff;
    border: 1px solid #3858d6;
    background: #3858d6;
    transition: all 0.3s ease;
}
.footer {
    background: linear-gradient(152deg, #1f66ea 2.99%, #03196f 100%);
}
.footer__container {
    margin-top: 136px;
}
.footer__box {
    padding: 170px 0 88px;
}
.footer__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fff;
}
.footer__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #d2d2d2;
    margin-top: 21px;
    margin-bottom: 72px;
}
.footer__btn-box {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 152px;
}
.footer__a {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #d2d2d280;
}
.footer__img {
    position: relative;
}
.footer__img img {
    position: absolute;
    right: -25%;
    bottom: 0;
}
.but-menu {
    border-radius: 12px;
    width: 47px;
    height: 47px;
    background: #1d1d1f;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}
.but-menu span {
    display: block;
    height: 1.2px;
    border-radius: 2px;
    width: 16px;
    background-color: #fff;
}
.active-br {
    display: block !important;
    transition: all 0.3s ease;
}
.burgerMenu {
    transition: all 0.3s ease;
    position: fixed;
    height: 72vh;
    width: 100%;
    background: #f4f4f4;
    border-radius: 12px;
    padding: 88px 0 0;
    bottom: -100%;
    z-index: 2;
    display: none;
}
.burgerMenu__effect {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.7);
    display: none;
    z-index: 2;
}
.burgerMenu__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.burgerMenu__menu {
    margin: 0 0 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-direction: column;
}
.burgerMenu__menu a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 300%;
    text-align: center;
    color: #1d1d1f;
    text-decoration: none;
}
.burgerMenu__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.burgerMenu__sup {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #8b8e99;
    margin-bottom: 11px;
}
.burgerMenu__numder {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #1d1d1f;
    margin-bottom: 32px;
}
.burgerMenu__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 48px;
}
.burgerMenu__btn {
    border-radius: 12px;
    padding: 20px;
    width: 72px;
    height: 72px;
    background: #1d1d1f;
}
.surfacing {
    width: 100%;
    background: rgba(34, 34, 34, 0.7);
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease;
}
.surfacing__container {
    position: fixed;
    top: 80px;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    padding: 66px 0 67px 42px;
    min-height: 480px;
    background: linear-gradient(135deg, #004fe1 0%, #6ea1ff 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.surfacing__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fff;
}
.surfacing__p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #d2d2d2;
    margin-top: 21px;
}
.surfacing__btn-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    margin-top: 96px;
}
.surfacing__close {
    position: absolute;
    top: 27px;
    right: 27px;
    cursor: pointer;
}
.surfacing__whatsapp,
.surfacing__telegram {
    position: absolute;
}
.video {
    width: 100%;
    background: rgba(34, 34, 34, 0.7);
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease;
}
.video__container {
    position: fixed;
    top: 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 1380px;
    max-height: 776px;
    height: 100%;
}
.video__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px;
    background: #000;
    border-radius: 8px;
}
.form_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#amoforms_iframe_1341406 {
    z-index: inherit !important;
    max-width: inherit !important;
}
.pl__model {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 15px;
    height: 81px;
}
.pl__model li {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: #8b8e99;
}
.pl__model li span {
    font-size: 22px;
    color: #000;
}
.desc-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-direction: column;
}
.desc-item__wr {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 20px;
    padding: 12px 35px 24px 35px;
    max-width: 370px;
    width: 100%;
    height: 520px;
}
.desc-item__wr img {
    width: 75%;
}
.desc-item__title {
    font-family: Poppins, sans-serif;

    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1d1d1f;
    text-align: start;
    margin-top: 6px;
}
.desc-item__p {
    font-family: Poppins, sans-serif;

    font-weight: 400;
    font-size: 13px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #8b8e99;
    text-align: start;
    margin: 10px 0;
}
.desc-item__hr {
    background: #8b8e99;
}
.desc-item__types {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 15px;
}
.desc-item__li {
    font-family: Inter, sans-serif;
    line-height: 125%;
    font-weight: 600;
    font-size: 14px;
    color: #8b8e99;
    list-style-type: none;
}
.desc-item__li span {
    font-size: 24px;
    color: #000;
}
.desc-item__btn {
    border-radius: 12px;
    padding: 21px 78px;
    max-width: 370px;
    width: 100%;
    height: 63px;
    background: #3858d6;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    text-align: center;
    color: #fff;
    border: 0;
}
.gridModal{
    grid-template-columns: repeat(3 , 1fr);
}
@media (max-width: 1315px) {
    .ad__wrapper {
        padding: 0 0 0 36px;
    }
    .ad__left {
        padding: 60px 0;
    }
    .ad__title {
        font-size: 46px;
    }
    .btn-sec {
        font-size: 15px;
    }
    .form__img img {
        width: 34%;
    }
}
@media (max-width: 1080px) {
    .form__img {
        display: none;
    }
    .elements_wr {
        grid-template-columns: repeat(4, 1fr);
    }
    .gridModal{
        grid-template-columns: repeat(2 , 1fr) !important;
    }
}

@media (max-width: 1025px) {
    .dr-step .progress-bar {
        width: 70% !important;
    }
    .ad__title {
        font-size: 35px;
    }
    .ad__btns {
        flex-wrap: wrap;
        justify-content: start;
    }
    .payment__wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .box-items {
        grid-template-columns: 1fr;
    }
    .form__img img {
        width: 28%;
    }
    .footer__img img {
        position: absolute;
        right: -40%;
    }
    .box-items .box-item__img {
        width: 100%;
    }
    .box-items .box-item__img img {
        width: 30%;
    }
    .steps__wrapper {
        width: 90%;
    }
    .steps .progress-bar {
        width: 74%;
    }
}
@media (max-width: 925px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
    }
    .steps__wrapper {
        width: 100%;
    }
    .footer__img img {
        position: absolute;
        right: -64%;
    }
    .elements_wr {
        grid-template-columns: repeat(3,1fr);
    }

}
@media (max-width: 834px) {
    .gridModal{
        grid-template-columns: repeat(1  , 1fr) !important;
    }
    .contacts .ad__right {
        padding: 0 !important;
    }
    .contacts .ad__right iframe {
        height: 300px !important;
    }
    .contacts .ad__left {
        padding: 85px 0 35px 0 !important;
    }
    .video__container {
        height: 416px;
    }
    .surfacing__container {
        top: 80px;
    }
    .price-list-about-us .inform__elem:last-child {
        grid-column: 1/3;
    }
    .contacts .ad__wrapper {
        background: transparent;
        padding: 48px;
        grid-template-columns: 1fr;
    }
    .contacts .ad__img {
        position: static;
    }
    .dr-step .ad__wrapper {
        grid-template-columns: 1fr !important;
        padding: 0 48px !important;
    }
    .dr-step .ad__right,
    .price-list-ad-right {
        display: none;
    }
    .ad-no {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ad-no .ad__left {
        justify-content: center;
        align-items: center;
    }
    .ad-no .ad__left-img {
        display: block;
        margin-top: 46px;
    }
    .steps__item-p {
        font-size: 16px;
    }
    .menu {
        display: none;
    }
    .but-menu {
        display: flex;
    }
    .ad__img {
        width: 250%;
    }
    .ad__wrapper {
        border-radius: 0;
    }
    .ad__imgSec {
        display: none;
    }
    .ad__img-sec {
        bottom: 150px;
        width: 100%;
    }
    .brands__item {
        width: 12%;
    }
    .brands__item:last-child {
        width: 5%;
    }
    .about-us__inform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 85px;
    }
    .quality__item {
        padding: 24px 24px 16px;
        font-size: 19px;
    }
    .quality__item img {
        width: 40%;
    }
    .frst-img {
        width: 46% !important;
    }
    .box-items .box-item__img {
        width: 100%;
    }
    .box-items .box-item__img img {
        width: 36%;
    }
    .payment .box-items .box-item__img {
        width: 100%;
    }
    .payment .box-items .box-item__img img {
        width: 50%;
    }
    .transportCo,
    .fullfillment {
        height: 356px;
    }
    .delevery__gallary {
        gap: 15px;
        margin-bottom: 15px;
    }
    .delevery__gallary img {
        width: 16%;
    }
    .delevery__gallary img:nth-child(2) {
        width: 36%;
    }
    .delevery__title {
        font-size: 17px;
    }
    .delevery__container {
        padding: 0 36px;
    }
    .form__img img {
        display: none;
    }
    .footer__p {
        max-width: 445px;
    }
    .footer__img img {
        right: -60%;
    }
    .form {
        padding: 0 48px;
    }
    .form__box {
        padding: 37px;
    }
    .chech-box br {
        display: none;
    }
    .footer__img img {
        position: absolute;
        right: -74%;
    }
}
@media (max-width: 624px) {
    .price-list .price-list__items {
        justify-content: center !important;
    }
    .home_cat .price-list__items {
        justify-content: center !important;
    }
    .elements_wr {
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width: 580px) {
    .video__container {
        height: 200px;
    }
    .surfacing__container {
        top: 80px;
        grid-template-columns: 1fr;
        padding: 24px;
    }
    .surfacing__left {
        order: 1;
        margin-top: 280px;
    }
    .surfacing__title {
        font-size: 30px;
    }
    .surfacing__p {
        font-size: 16px;
    }
    .surfacing button span {
        display: none;
    }
    .surfacing__whatsapp {
        position: absolute;
        width: 16%;
    }
    .surfacing__telegram {
        position: absolute;
        width: 46%;
    }
    .contact a {
        display: none;
    }
    .submit-box {
        display: block;
    }
    .submit-box button {
        margin-left: 0;
        margin-top: 12px;
    }
    .form {
        padding: 0;
    }
    .footer__img img {
        display: none;
    }
    .form__container {
        border-radius: 0;
    }
}
@media (max-width: 480px) {
    .itemS {
        justify-content: space-between !important;
        gap: 48px 27px !important;
    }
    .surfacing__container {
        top: 32px;
    }
    .surfacing__btn-box {
        margin-top: 7px;
    }
    .surfacing__p {
        margin-top: 12px;
    }
    .surfacing__left {
        margin-top: 176px;
    }
    .first-ad .ad__wrapper {
        padding: 24px;
    }
    .first-ad .ad__btns {
        justify-content: start !important;
    }
    .contact .contact__phNum {
        display: none;
    }
    .ad__wrapper {
        padding-top: 208px;
        display: block;
        position: relative;
        z-index: -1;
    }
    .ad__wrapper .ad__title {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #f5f5f7;
    }
    .ad__wrapper .ad__right .ad__img {
        width: 170%;
        left: -120px;
        bottom: -23px;
    }
    .ad__wrapper .ad__left {
        position: relative;
        z-index: 1;
    }
    .price-list-about-us .inform__elem:last-child {
        grid-column: 1/2;
    }
    .ad-sec img {
        display: none;
    }
    .ad-sec .ad__wrapper {
        padding: 0 24px;
    }
    .ad-sec .ad__wrapper .ad__cup {
        margin-bottom: 96px;
    }
    .ad-sec .ad__left {
        align-items: center;
    }
    .ad-sec .ad__title,
    .ad-sec .ad__cup {
        text-align: center;
    }
    .ad-no .ad__left {
        padding: 95px 20px !important;
    }
    .about-us__inform {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-us__quality {
        grid-template-columns: 1fr;
    }
    .about-us__quality .quality__item img {
        width: 31%;
    }
    .about-us__gallary {
        grid-template-columns: 1fr 1fr;
    }
    .payment__wrapper {
        grid-template-columns: 1fr !important;
    }
    .delevery__container {
        grid-template-columns: 1fr;
    }
    .steps .progress-bar {
        display: none;
    }
    .circle {
        display: none !important;
    }
    .steps__wrapper {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }
    .steps__title {
        margin: 64px 0 36px;
    }
    .steps__item-p {
        max-width: 220px;
    }
    .ad-ship img {
        display: none;
    }
    .dr-step .ad__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px !important;
    }
    .dr-step .ad__wrapper .ad__left {
        align-items: center;
    }
    .dr-step .ad__wrapper .ad__left .ad__advices {
        flex-direction: column;
    }
    .dr-step .ad__wrapper .ad__left .ad__cup,
    .dr-step .ad__wrapper .ad__left .ad__advice-title {
        text-align: center;
    }
    .ad__btns {
        justify-content: center;
    }
    .footer__btn-box {
        gap: 4px;
    }
    .footer__p {
        width: 100%;
    }
    .contacts .ad__wrapper {
        padding: 20px;
    }
    .burgerMenu__menu {
        margin: 0 0 87px 20px;
        align-items: start;
        gap: 0;
    }
    .burgerMenu__contacts {
        align-items: start;
        margin-left: 20px;
    }
}
@media (max-width: 430px) {
    .ad__wrapper .ad__right .ad__img {
        width: 200%;
    }
    .btn-sec,
    .btn {
        font-size: 14px;
        padding: 16px 18px;
    }
}
@media (max-width: 410px) {
    .ad__wrapper .ad__right .ad__img {
        width: 220%;
    }
    .itemS {
        justify-content: center !important;
        gap: 48px 20px !important;
    }
    .footer__btn-box {
        flex-direction: column;
        align-items: stretch;
    }
    .elements_wr {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 385px) {
    .ad__wrapper .ad__right .ad__img {
        width: 236%;
    }
}
@media (max-width: 360px) {
    .ad__wrapper .ad__right .ad__img {
        width: 260%;
    }
}
@media (max-width: 340px) {
    .ad__wrapper .ad__right .ad__img {
        width: 270%;
    }
}
@media (max-width: 320px) {
    .footer__btn-box {
        flex-direction: column;
    }
    .ad__wrapper .ad__right .ad__img {
        width: 300%;
    }
}
